<!DOCTYPE html>
<html>
  <head>
    <title>miniapp</title>
    <style type="text/css" href="./style.css"></style>

     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>
  <body>
    
    <nav class="purple darken-3">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">miniapp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li><a href="/tweets/new">投稿する</a></li>
        <li><a ref="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>
        <% else %>
        <li><a href="/users/sign_in">Sign In</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
        </ul>
        <% end %>
      </div>
    </nav>
    <p id="notice"></p>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">

        <div class="contents">
  <% @tweets.each do |tweet| %>
    <div class="message clearfix">
      <div class="message_box">
        <p class="user_name">
        </p>
        <p class="text">
          <%= tweet.text %>
        </p>
      </div>
    </div>
  <% end %>
</div>
        
          <div class="card-content black-text"></div>
          <div class="card-action"></div>
        </div>
      </div>
    </div>
    <%= paginate(@tweets) %>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>